body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 25px);
    grid-gap: 1px;
    margin-right: 20px;
}

.grid-cell {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.grid-cell.start {
    background-color: #00ff00; /* Green (Start Point) */
}

.grid-cell.end {
    background-color: #ff0000; /* Red (End Point) */
}

.grid-cell.wall {
    background-color: #000; /* Black (Wall) */
}

.grid-cell.path {
    background-color: #ffff00; /* Yellow (Path) */
}

#pathInfo {
    margin-left: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    width: 150px;
    font-size: 16px;
}

#pathInfo button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 10px;
    width: 100%;
}

#pathInfo button:hover {
    background-color: #45a049;
}

#pathInfo div {
    margin-bottom: 10px;
}

#stepCount, #pathCount {
    font-weight: bold;
}
